@font-face {
  font-family: "iconfont"; /* Project id 4308437 */
  src: url('iconfont.woff2?t=1698740302488') format('woff2'),
       url('iconfont.woff?t=1698740302488') format('woff'),
       url('iconfont.ttf?t=1698740302488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-tianjiashangchuantupian:before {
  content: "\e792";
}

.icon-image:before {
  content: "\e7de";
}

.icon-undo:before {
  content: "\e787";
}

.icon-redo:before {
  content: "\e788";
}

.icon-save:before {
  content: "\e791";
}

.icon-folder-open:before {
  content: "\e7d1";
}

.icon-select:before {
  content: "\e7d4";
}

.icon-drag:before {
  content: "\e842";
}

.icon-zoomout:before {
  content: "\e897";
}

.icon-zoomin:before {
  content: "\e898";
}

.icon-clear:before {
  content: "\e900";
}

.icon-group:before {
  content: "\e915";
}

.icon-ungroup:before {
  content: "\e917";
}

